.shell-wrapper
  height: 60%
  width: 100%
  overflow-y: scroll
  .shell
    min-height: 100%
    width: 100%
    background-color black
    color: white
    .command-wrapper
      display: flex
      font-size 18px
      .hostname
        display inline-block
        height 30px
        line-height 30px
        padding 0px 5px
      .command
        display inline-block
        flex: 1
        input
          width: 100%
          height: 30px
          padding: 0 3px
          box-sizing border-box
          font-size: 18px
          color: white
          background-color black
          border none
